extends layoutPrivado.pug 

block contenido 
  h1 Home 


  //RECORRO LO Q MANDO CONTROLLER
  each publicacion in publicaciones 

    div.card 


      h3=publicacion.titulo 

      p=publicacion.descripcion 

      each imagen in publicacion.Imagens 
        img(src=imagen.data width="300")

