extends layoutPublico.pug

block metadata
  title Fotaza - Inicio

block formulario
  .card(style='width:22rem;')
          .card-body
            h5.card-title.mb-4 Bienvenido
            a.btn.btn-primary.w-100.mb-2(href='/auth/login') Iniciar sesión
            a.btn.btn-outline-secondary.w-100.mb-2(href='/auth/anonimo') Ingresar como invitado
            p.mt-3.text-center
              | ¿No tenés cuenta?
              a(href='/auth/signup')  Registrate